.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#111827;

    color:white;

    padding:20px 40px;

}

.logo{

    font-size:28px;

}

.nav-links a{

    color:white;

    text-decoration:none;

    margin-left:25px;

}
.nav-links a:hover {
    color: #60a5fa;
}